@charset "UTF-8";

/* Tablet */
@media screen and (min-width: 710px) and (max-width: 1000px) {
    .container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
    }

    li {
        width: 11vw;
        flex: 1 1 150px;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
    }

    li {
        width: 10vw;
        flex: 1 1 140px;
    }
}